[Desktop Entry]
Type=Application
Exec=alephone-marathon2
Icon=alephone-marathon
Name=Marathon2 (Aleph One)
Categories=Game;ActionGame;
Comment=A FPS game by Bungie
