[Desktop Entry]
Type=Application
Exec=alephone-infinity
Icon=alephone-marathon
Name=Marathon-infinity (Aleph One)
Categories=Game;ActionGame;
Comment=A FPS game by Bungie
