Summary=Console-based network traffic monitor
Summary[hu]=Konzolos hálózati forgalomszámláló
Description=Console-based network traffic monitor for Linux and BSD that keeps a log of network traffic for the selected interface(s).
Description[hu]=Konzolos hálózati forgalomszámláló program és daemon amely Linux és BSD rendszeren a kiválasztott interfész adatforgalmát méri és naplózza.
MsgDesc=vnStat traffic counter
MsgDesc[hu]=vnStat forgalomszámláló
Script=/etc/init.d/vnstat
SupportsReload=yes
Runlevels=2345
Sequence=08
